<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!---->
	<bean id="welcomeService" class="com.imooc.services.impl.WelcomeServiceImpl"/>
	<bean id="hiService" class="com.imooc.services.impl.HiServiceImpl">
		<property name="helloService" ref="helloService"/>
	</bean>
	<bean id="helloService" class="com.imooc.services.impl.HelloServiceImpl"/>
	<bean id="welcomeController" class="com.imooc.controller.WelcomeController" autowire="byName">

	</bean>

	<bean id="userFactoryBean" class="com.imooc.entity.user.UserFactoryBean"/>
	<!--Bean Name 与 ParentBeanName一致，会去parentBeanFactory获取parentBean，此时会抛出异常-->
	<!--<bean id="userFactoryBean1"  class="com.imooc.entity.user.UserFactoryBean" parent="userFactoryBean1"/>-->

</beans>