<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--在Customer的Bean中申明一个内部的Bean-->
	<bean id="customer" class="com.imooc.innerbean.Customer">
		<property name="person">
			<!--声明内部的Bean-->
			<bean class="com.imooc.innerbean.Person">
				<property name="name" value="Inner Bean"/>
				<property name="address" value="hangzhou"/>
				<property name="age" value="18"/>
			</bean>
		</property>
	</bean>

</beans>