<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="serviceA" class="org.Berries.Wang.Spring.Debug.service.ServiceA" autowire="byName">
		<property name="serviceB" ref="serviceB"/>
	</bean>
	<bean id="serviceB" class="org.Berries.Wang.Spring.Debug.service.ServiceB"/>

</beans>